form {
    width: 300px;
    padding: 20px;
    border: 3px solid #ffffff;
    border-radius: 8px;
    background-color:#510369;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff
    ;
}

h1{
    text-align: center;
    margin-top: 5%;
}

h2 {
    margin-left: 20%;
    margin-bottom: 50px;
}

div {
    margin-bottom: 20px;
}

body {
    background-color: #660085;
}

button {
    padding: 5px;
    border-radius: 8px;
    margin-left: 10px;
}

.fechar {
    border: 3px solid #ffffff;
    background-color:#510369;
    color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.container {
    display: flex;
    justify-content: space-between; /* Opcional: adiciona espaço entre as divs */
}